.centered-content{
  display: inline;
}

.model-box{
  min-height: 200px;
  max-width: 300px;
  margin-left: 34%;
  background-color:lightgreen;
  border-radius: 5px;
  padding: 35px !important;
}

.buttons{
  width:100%;
  text-align: center;

  .button{
    height: 40px;
    width: 30%;
    margin-top: 5px;
    display: inline-block;
  }
}
