.main-container{
    display: flex;
    flex-direction: column;
    max-width:500px;
    margin: auto;
    padding-top: 50px;

}

.notes-list{
    margin-top:35px ;
}

app-notes-card{
    display: block;
    margin-bottom: 25px;
}

/*-------------------------------------------------------------*/
/*Input filter*/
$primary: #1c1e1d; //Nice for linear input:)
$secondary: #ddf1e5;
$white: #fff;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 500px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 7px;
    right: 47%;
  }
}

.form__label {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;  
    opacity: 0; 
  }
  
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

/*-------------------------------------------------------------*/
