  <div class="main-container">

    <div class="form__group field">
        <input #filterInput type="input" class="form__field" (keyup)="filter($event.target.value)" placeholder="Search" name="text" id='text' />
        <label for="text" class="form__label">
          <fa-icon [icon]="faSearch"></fa-icon>
        </label>
    </div>


    <div class="notes-list" [@listAnim]>
        <app-notes-card
         *ngFor="let note of filteredNotes; index as i"
          link="{{note._id}}"
          [@itemAnim]
          (delete)="deleteNote(note)"
          [title]="note.title"
          [body]="note.body" ></app-notes-card>
    </div>

    <button class="button floating-add-button is-primary" routerLink="new"> +Add</button>
</div>

