
<div class="imgcontainer">
    <!-- <i class="fa fa-sort-down"></i>
    <i class="fa fa-user"></i>
    <i class="fa fa-lock"></i>  
    <i class="fa fa-envelope"></i>  
    <i class="fa fa-arrow-left"></i>

    <fa-icon [icon]="faCoffee"></fa-icon>
    <fa-icon [icon]="faAws"></fa-icon>
    <fa-icon [icon]="faYoutube"></fa-icon>
    <fa-icon [icon]="faApplePay"></fa-icon>
    <fa-icon [icon]="faCcApplePay"></fa-icon>
    <fa-icon [icon]="faAddressCard"></fa-icon>
    <fa-icon [icon]="fa9"></fa-icon> -->
    <!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->


    <button (click)="nextPlace()">Move from {{currentPlace}} <i class="fa fa-arrow-right"></i></button>
	<div  class="gallery" *ngFor="let image of shownImages">
	  <img src="{{image.src}}" />
	</div>
</div>

