.imgcontainer {
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
  }

 img {
    cursor: pointer;
    float: right;
    width: 20%;
    border: 2.5px solid #fff;
    position: relative;
  }

  .gallery {
  }