.example-card{    
  max-width: 30vw;
  margin-top: 1% !important;
  max-height: 79vh !important;
  margin-left: 32% !important;

  img{
    width: 100%;
    max-height: 60vh;
  }

  .next-image{
    position: absolute;
    width: 10%;
    top: 50%;
    right: 0;
    margin-right: -7px !important;
  }
  .previous-image{
    position: absolute;
    width: 10%;
    top: 50%;
    left: 0;
    margin-left: -7px !important;
  }
  
  fa-icon{
    font-size: 37px;
    padding: 3px !important;
  }

}


.next-place-button{
  width: 0px;
  margin-right: 33%;
  position: absolute;
  right: 29%;
}



/* .imgcontainer {
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
  } */

 /* img {
    cursor: pointer;
    float: right;
    width: 20%;
    border: 2.5px solid #fff;
  } */
