.example-card{
  width: 35vw;
  margin-top: 1%!important;
  height: auto;
  margin-left: 33% !important;
}

img{
  width: 100%;
  max-height: 60vh;
}

fa-icon{
  font-size: 37px;
  padding: 3px !important;
}

.next-image{
  position: absolute;
  right: 0;
}

/* .imgcontainer {
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
  } */

 /* img {
    cursor: pointer;
    float: right;
    width: 20%;
    border: 2.5px solid #fff;
  } */
