<div class="imgcontainer" (keydown.enter)="nextImageInPlace()">
  <button (click)="nextPlace()">Move from {{currentPlace}} <i class="fa fa-arrow-right"></i></button>
  <!-- *ngFor="let image of shownImages" -->
<mat-card class="example-card">
  <mat-card-header>
    
    <div mat-card-avatar class="example-header-image">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </div>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{shownImages[currentIndexInPlace].src}}">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="next-image" (click)="nextImageInPlace()">
      <i class="fa fa-arrow-right"></i>
    </button>
    <button mat-button class="previous-image" (click)="prevImageInPlace()">
      <i class="fa fa-arrow-left"></i>
    </button>
  </mat-card-actions>
</mat-card> 
</div>


<!-- 
<div class="imgcontainer">
    <button (click)="nextPlace()">Move from {{currentPlace}} <i class="fa fa-arrow-right"></i></button>
	<div  class="gallery" *ngFor="let image of shownImages">
	  <img src="{{image.src}}" />
	</div>
</div> -->
