section {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  margin: 2% auto 50px auto;
  flex-wrap: wrap;
}

.square-container {
  flex: 0 0 32%;
  height:150px !important;
}
