<div class="centered-content">
  <div class="task-manager-container">

    <div class="side-bar has-background-light">
      <h1 class="title has-text-primary">
         Lists
      </h1>

      <div class="list-menu">

        <a *ngFor="let list of lists" class="list-menu-items" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button routerLink="/new-list" class="button is-primary has-text-white">
        + New List
      </button>
    </div>

    <div class="tasks-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
     </h1>

     <div class="task" *ngFor="let task of tasks">
      <p>{{task.title}}</p>
     </div>

    </div>

  </div>
</div>
