<div class="centered-content">
  <div class="task-manager-container">

    <div class="side-bar has-background-light">
      <h1 class="title has-text-primary">
         Lists
      </h1>

      <div class="list-menu">

        <a class="list-menu-items is-active">
          <p>List 1</p>
        </a>

        <a class="list-menu-items">
          <p>List 1</p>
        </a>

        <a class="list-menu-items">
          <p>List 1</p>
        </a>

      </div>

      <button (click)="createNewList()" class="button is-primary has-text-white">
        + New List
      </button>
    </div>

    <div class="tasks-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
     </h1>

     <div class="task">
      <p>Someting i have to do....</p>
     </div>

     <div class="task complete">
      <p>Someting i have to do....</p>
     </div>

     <div class="task">
      <p>Someting i have to do....</p>
     </div>

    </div>

  </div>
</div>
