::ng-deep * {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }

  body{
    height: 100% !important;
  }

  .nav-bar{
    height: 10%;
    top: 0;
  }

  .content{
    height: 90%;
  }