::ng-deep * {
    margin: 0 !important;
    padding: 0 !important;
    /* overflow: auto !important; */
    /* background-color: #272727; */

  }

  body{
    height: 100vh !important;
    width: 100vw !important;
  }

  .nav-bar{
    height: 10vh;
    background: #272727;
  }

  .container{
    height: 90vh;
    max-width: 100vw;
  }