<div class="root">

  <!-- <div class="navbar has-background-dark"> -->
    <!-- <div class="navbar-brand"> -->
      <div class="navbar-item">
        <h1 class="app-name">Budget Calculator</h1>
      </div>
    <!-- </div> -->
  <!-- </div> -->

  <section class="total-budget-section">
    <h2> 1500 </h2>
  </section>


  <section class="add-item-section">
    <div class="add-item-container">

      <app-add-item-form style="padding: 20px;"></app-add-item-form>

    </div>
  </section>

  <br style="margin-top: 0;">
  <app-budget-item-list></app-budget-item-list>

</div>
