<div class="root">

    <div class="navbar-item">
      <h1 class="app-name">Budget Calculator</h1>
    </div>

  <section class="total-budget-section">
    <h2> {{budgetItemService.budgetSum}} </h2>
  </section>

  <section class="add-item-section">
    <div class="add-item-container">
      <app-add-item-form
      style="padding: 20px;"
      (formSubmit)="addItem($event)"></app-add-item-form>
    </div>
  </section>

  <!-- Not best practice.. But nvm for now. -->
  <br style="margin-top:0;">

  <app-budget-item-list
  (delete)="deleteItem($event)"></app-budget-item-list>

</div>
