<div class="centered-content">
  <div class="model-box has-background-light">

    <h1 class="title">Edit Task</h1>

    <input class="input has-background-light"
     #newTitle type="text"
      placeholder="edit the task's name" required>

    <div class="buttons is-right">
      <button class="button is-medium"
       routerLink="/task-manager">Cancel</button>

      <button class="button has-text-white is-primary"
       (click)="updateTask(newTitle.value)">
       Save</button>
    </div>

  </div>
</div>
