@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~bootstrap/dist/css/bootstrap.css";
/* @import "../node_modules/bulma/bulma.sass"; */

.body{
    margin: 0;

    /* I don`t want that any page will be with scrolling.  */
    /* overflow-y: hidden !important;
    overflow-x: hidden !important; */
}
html, body {
     height: 100%;
    /* background: #272727 !important; */
    }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
