<section aria-label="Blog"(keydown.enter)="next()">

  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>

  <div class="carousel">
        <button class=" carousel-button prev" (click)="prev()">&#8656;</button>
        <button class="carousel-button next" (click)="next()">&#8658;</button>
    <ul>
    <li *ngFor="let img of homeImages; let i=index" >
       <img style="height: 100vh; width: 214vh;" *ngIf="img.active" [@fade] src={{img.src}} alt={{img.alt}}>
    </li>
    </ul>
    </div>
</section>


<!-- <div style="height: 100vh; width: 214vh;" class="bg" >    
  </div> -->

  <!-- //   <li class="slide">
    //   <img src="/assets/images/homepagepicture.jpg" alt="Standing in panama roads">
    //   </li>
    // <li class="slide" data-active>
    //   <img src="/assets/images/playavenao2.jpg" alt="Walking on the beach">
    // </li>
    // <li class="slide">
    //   <img src="/assets/images/colombia.jpg" alt="Siera Minca">
    // </li>
    // } -->
    